/* top-section.component.css */
.top-section {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    background-color: #fff; /* Adjust background color as needed */
    padding: 20px;
  }
  
  
  .company-info, .logo-container, .stock-info {
    /* flex: 1; This ensures each child takes up equal width */
    text-align: center; /* Centers the content within each container */
  }

  .company-info {
    text-align: center;

  }

  .spinner {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .company-info h1 {
    font-size: 2rem;
    margin: 0;
  }
  
  .company-info h2 {
    font-size: 1.5rem;
    margin: 0;
    color: rgb(112, 112, 112);
  }
  
  .company-info p {
    margin: 0;
    color: rgb(143, 144, 145);
  }

  .logo-container {
    text-align: center;
}

.logo-container img {
    display: inline-block; /* Or 'block' if you prefer */
    margin: 0 auto; /* Auto margins on both sides to center the image */
}

  .company-logo img {
    height: 100px; /* Adjust as needed */
    margin-bottom: 30px;
  }
  
  .stock-info {
    text-align: center;
  }
  
  .stock-price {
    font-size: 2.3rem;
    display: block;
  }
  
  .stock-change {
    font-size: 25px; /* Red for negative, green for positive */
  }
  
  .dec {
    color: #ff3e30;
  }
  
  .inc {
    color: rgb(62, 138, 39);
    
  }
  
  .open {
    color: rgb(62, 138, 39);
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .closed {
    color: #ff0000;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    /* text-align: right; */
  }

  .close a {
    text-align: right;
  }
  
  .buy-button button {
    background-color: rgb(69, 144,100); /* Green background */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    
  }

  .first-button button{
    margin-right: 20px;
  }

  
  .bi-star {
    fill: gray;
    cursor: pointer;
  }
  
  .bi-star-fill {
    fill: rgb(250, 222, 75);
    cursor: pointer;
  }

  .sell-button button {
    background-color: #ff1100; /* Green background */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .transaction-button-container {
    display: inline-flex;

  }

  .bubble {
    background-color: rgb(219, 234, 226);
    text-align: center;
    border: 2px solid rgb(199, 214, 206);
    padding-block: 20px;
    border-radius: 5px;
  }

  .red-bubble {
    background-color: rgb(244, 221, 223);
    text-align: center;
    border: 2px solid rgb(220, 198, 200);
    padding-block: 20px;
    border-radius: 5px;
  }

  .center-text {
    text-align: center;
  }

  .insufficient {
    color: rgb(224, 127, 124);
  }
  .modal-title {
    padding-bottom: 10px;
  }

  .modal-body {
    padding-left: 30px;
  }

  .alert {
    margin-top: 15px;
  }

  .bad-buy-button button{
    background-color: rgb(133, 184, 157);
    cursor: default;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;

  }

  .bad-sell-button button{
    background-color: rgb(133, 184, 157);
    cursor: default;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
  }

  .bot {
    justify-content: space-between;
  }

  .navbar-container {
    margin-left: 14vw;
    margin-right: 14vw;
}


  @media (max-width: 400px) {
    .top-section {
      padding: 0px;
      margin-top: 20px;
    }
    .company-logo img{
      height: 50px; /* Adjust as needed */
      width: 50px;
    }

    .company-info h1{
      font-size: 25px;
    }

    .company-info h2{
      font-size: 20px;
    }

    .company-info p {
      font-size: 15px;
    }

    .stock-price {
      font-size: 25px;
    }

    .stock-change {
      font-size: 20px;
    }

    .sell-button button {
      background-color: #ff1100; /* Green background */
      color: white;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
    }

    .buy-button button {
      background-color: rgb(69, 144,100); /* Green background */
      color: white;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
      margin-right: 5px;
    }

    .current-time {
      font-size: 15px;
    }

    .open, .closed {
      margin-top: 10px;
    }

    .navbar-container {
      margin-left: 12px;
      margin-right: 12px;
  }
  }
