.navbar {
    background-color: rgb(31, 39, 151);
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
    
}
.navbar-brand {
    margin-left: 40px;
}

/* This ensures the list items are pushed to the right */
.nav-items-right {
    margin-left: auto;
  }
  
  /* Optional: Adjust the spacing between items */
  .nav-item {
    margin-right: 15px; /* Adjust the spacing to your preference */
  }

  .active-link {
    outline: 1px solid #FFFFFF; /* Outline color */
    border-radius: 5px; /* Optional: for rounded corners */
    padding: 5px; /* Adjust padding to ensure it looks good with the outline */
  }
  
#navbarNav {
    margin-right: 20px;
}