.navbar {
    background-color: rgb(30, 40, 172);
}

.navbar {
    position: fixed; /* Fix navbar to the top of the page */
    top: 0; /* Align top edge of navbar with top edge of the viewport */
    left: 0; /* Align left edge of navbar with left edge of the viewport */
    width: 100%; /* Navbar width is equal to the viewport width */
    z-index: 1030; /* Ensure navbar is above other content */
    background-color: rgb(30, 40, 172); /* Background color */

}



.top   {
    /* margin-bottom: 10px; */
    display: flex;
    flex-direction: row;
    width: 100%;
}


.navbar-toggler {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.navbar-toggler-icon {
    filter: invert(100%);
}

.container {
  
}



.navbar-brand {
    color: #ffffff !important;
    
}
.navbar-brand {
    margin-left: 40px;
}

/* This ensures the list items are pushed to the right */
.nav-items-right {
    margin-left: auto;
  }
  
  /* Optional: Adjust the spacing between items */
.nav-item {
  margin-right: 15px; /* Adjust the spacing to your preference */
}

.active-link {
  outline: 1px solid #FFFFFF; /* Outline color */
  border-radius: 5px; /* Optional: for rounded corners */
  padding: 5px; /* Adjust padding to ensure it looks good with the outline */
}

.nav-link {
  font-weight: lighter;
  color: rgb(209, 209, 209)
}

.nav-link:hover {
  color: #ffffff !important; /* Change text color on hover */
  border-radius: 5px; /* Match the border-radius of .active-link for consistency */
}
  
#navbarNav {
    margin-right: 20px;
}



@media (max-width: 400px) {
  .first {
    margin-top: 10px;
  }
  #navbarNav {
    /* margin-top: 20px; */
    margin-left: 40px;
  }
  
  .nav-items-right {
    flex-direction: column; /* Stack the nav items vertically */
    align-items: center; /* Center align the items */
    margin-left: 0; /* Reset this to ensure center alignment */
  }

 
  .nav-link {
    padding-left: 20px;
    width: 250px; /* Ensure it takes full width */

  }
}