<div class="outer-container">
<div class="portfolio-container col-md-8 col-11">
  <ngb-alert *ngIf="successMessage" [type]="'success'" class="center-text alert" (closed)="successMessage = ''" #selfClosingAlert>
    {{ successMessage }}
  </ngb-alert>
  <ngb-alert *ngIf="failMessage" [type]="'danger'" class="center-text alert" (closed)="failMessage = ''" #selfClosingAlert>
    {{ failMessage }}
  </ngb-alert>

    <div class="title"> My Portfolio</div>
    <div *ngIf="loading" class="spinner">
      <mat-spinner diameter="70"></mat-spinner>
    </div>
    
    <div *ngIf="!loading">
      <div class="wallet-info">
        Money in Wallet: ${{ walletBalance | number:'1.2-2' }}
      </div>
    </div>
    <div *ngIf="loading == false" class="empty">
      <div *ngIf=" stocksDetails.length == 0">
      <div class="bubble">Currently you don't have any stock.</div>
    </div>
    </div>
    
  
    <div *ngFor="let stock of stocksDetails" class="stock-item">
      <div class="stock-header" (click)="route(stock.ticker)">
        <span class="ticker">{{ stock.ticker }}</span>&nbsp; <span class="name">{{ stock.name }}</span>
      </div>
      <div class="stock-info ">
        <div class="stock-details container">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="row">
                <span class="col-8"> Quantity: </span>
                <span class="value col-4">{{ stock.quantity | number:'1.2-2' }}</span>
              </div>
              <div class="row">
                <span class="col-8">Avg. Cost / Share: </span>
                <span class="value col-4">{{ stock.avgCost | number:'1.2-2' }}</span>
              </div>
              <div class="row">
                <span class="col-8">Total Cost: </span>
                <span class="value col-4">{{ stock.totalCost | number:'1.2-2' }}</span>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="row">
              <span class="col-8">Change: </span>
              <span class="col-4">
                <span [ngClass]="{'positive': stock.change > 0, 'negative': stock.change < 0, 'zero': stock.change ==0}">
                  <span *ngIf="stock.change > 0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-caret-up-fill " viewBox="0 0 16 16">
                      <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                  </span>
                  <span *ngIf="stock.change < 0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                      <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                    </svg>
                  </span>
                  {{ stock.change | number:'1.2-2' }}
                </span>
              </span>
            </div>
            <div class="row">
              <span class="col-8">Current Price: </span>
              <span class=" col-4">
                <span [ngClass]="{'positive': stock.change >= 0, 'negative': stock.change < 0, 'zero': stock.change ==0}">{{ stock.c | number:'1.2-2' }}</span>
              </span>
            </div>
            <div class="row">
              <span class="col-8">Market Value: </span>
              <span class=" col-4">
                <span [ngClass]="{'positive ': stock.change >= 0, 'negative ': stock.change < 0, 'zero': stock.change ==0}">{{ stock.marketValue | number:'1.2-2' }}</span>
              </span>
              </div>
          </div>
            
          </div>
          
          
          
        </div>
      </div>
      <div class="stock-actions">
        <button class="buy-button" (click)="openModal(buying, stock)">Buy</button>
        <!-- <button class="buy-button" (click)="openModal(content, stock.ticker, 'buy')">Modal</button> -->
        <button class="sell-button" (click)="openModal(selling, stock)">Sell</button>
      </div>
    </div>
  </div>
</div>

  <ng-template #buying let-modal>
    <div class="modal-header">
      <div class="modal-title col-11">
        {{ data.ticker}}
        </div>
      <a type="button" class="close col-1" aria-label="Close" (click)="modal.close()">
        <span aria-hidden="true"><u>&times;</u></span>
      </a>
    </div>
  
    <div class="modal-body">
      Current price: {{ data.c | number:'1.2-2' }}<br>
      Money in Wallet: ${{ walletBalance | number:'1.2-2' }}<br>
      Quantity:  
      <input type="number" class="col-9" [(ngModel)]="quantity" min="0" (input)="calculateTotal('buy', data.c, data.quantity )" oninput="validity.valid||(value='');" pattern="\d*">
      <div *ngIf="!this.sufficientBalance" class="insufficient">
        <span >Not enough money in wallet!</span>
      </div>
    </div>
    <div class="modal-footer">
      <div>
        Total: {{ totalCost | number: "1.2-2" }}
      </div>
      <div class="inner-buy-button" *ngIf="this.sufficientBalance && quantity > 0 && quantity != null">
        <button  (click)="buyStock()">
          Buy
        </button>
      </div>
      <div class="bad-button" *ngIf="!this.sufficientBalance || quantity < 1 || quantity == null">
        <button disabled (click)="buyStock()">
          Buy
        </button>
      </div>
  </div>
  </ng-template>


<ng-template #selling let-modal>
  <div class="modal-header" >
    <div class="modal-title col-11">
    {{ data.ticker}}
    </div>
    <a type="button" class="close col-1" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true"><u>&times;</u></span>
    </a>
  </div>
  
  <div class="modal-body">
    Current price: {{ data.c | number:'1.2-2' }}<br>
    Money in Wallet: ${{ walletBalance | number:'1.2-2' }}<br>
    Quantity:  
    <input type="number" class="col-9" [(ngModel)]="quantity" min="0" (input)="calculateTotal('sell', data.c, data.quantity )" oninput="validity.valid||(value='');" pattern="\d*">
    <div *ngIf="!this.sufficientStock" class="insufficient">
      <span >You cannot sell the stocks that you don't have!</span>
    </div>
  </div>
  <div class="modal-footer">
    <div>
      Total: {{ totalCost | number: "1.2-2" }}
    </div>
    <div class="inner-buy-button" *ngIf="this.sufficientStock && quantity > 0 && quantity != null">
      <button  (click)="sellStock()">
        Sell
      </button>
    </div>
    <div class="bad-button" *ngIf="!this.sufficientStock || quantity < 1 || quantity == null">
      <button disabled (click)="sellStock()">
        Sell
      </button>
    </div>
  </div>
  </ng-template>