tr {
    border-bottom: 1px solid black;
}

.table-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

th {
    width: 150px;
    text-align: center;
    padding-block: 5px;
}

td {
    text-align: center;
}

.graphs {
    display: flex;
    flex-direction: row;
}

.title {
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    margin-block: 10px;
}