<div class="container text-center">
  <div class="title">STOCK SEARCH</div>
  <div class="form-container">
      <form (ngSubmit)="onSubmit()" class="search-form">
          <input type="text" 
            placeholder="Enter stock ticker" 
            matInput 
            [formControl]="stockCtrl" 
            [matAutocomplete]="auto"
            (input)="onInput($event)"
            class="search-input">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectStock($event.option.value)">
            <mat-option *ngIf="loading">
              <mat-spinner diameter="30"></mat-spinner>
            </mat-option>
            <ng-container *ngFor="let stock of filteredStocks$ | async">
              <mat-option *ngIf="!loading" [value]="stock">
                {{stock.displaySymbol}} - {{stock.description}}
              </mat-option>
            </ng-container>
            
          </mat-autocomplete>
          <button type="submit" class="search-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
          </button>
          <button type="button" class="clear-button" (click)="clearInput()">
            <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
            </svg>
          </button>
      </form>
  </div>
</div>

