
.company-info {
    text-align: center;
}

u {
    font-size: 20px;
}

.header {
    margin-bottom: 20px;
}

.stock-info {
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
}

@media (max-width: 400px) {
    .row {
        margin-left: 10px;
        margin-right: 10px;
    }
    .stock-info {
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 0px;
       text-align: center;
    }

    .peers {
        font-size: 15px;
    }

    .chart {
        margin-top: 20px;
    }

}